/* -------------------- Geral -------------------- */

* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Crimson Text', serif;
}

a {    
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.items li a, fieldset, .btn-concluded, .btn-register, .btn-options, .btn-loan-book, .btn-info-book{
    border-radius: 5px;
}

textarea {
    resize: none;
    outline: none;
    padding: 5px;
}

input, textarea, select {
    color: #333;
}

/* ---------------------------------------- User ---------------------------------------- */

/* -------------------- nav -------------------- */
.nav {
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #001f45;
}

.img-logo {
    padding: 10px;
}

.logo {
    height: 50px;
}

.search {
    display: flex;
    align-items: center;
    padding: 10px;
}

.items{
    display: flex;
    list-style: none;
    margin: 20px;
}

.items li a {
    margin-right: 10px;
    color: #fff;
    padding: 8px;
}

nav a:hover {
    color: #fff;
    background-color: #0087b1; 
}

.nav button {
    margin: 0px 15px;
    border: none;
    cursor: pointer;
}

/* -------------------- container/login -------------------- */
.container {
    width: 100%;
    display: grid;
    justify-content: center;
    padding-top: 100px;
}

.input-login {
    padding: 10px;
}

.input-login h1 {
    text-align: center;
    margin-bottom: 30px;
}

.campos {
    display: grid;
    margin-bottom: 10px;
}

input {
    padding: 3px;
    outline: none;
    border: none;
    border-bottom: 1px solid #aaa;
}

.btn-options {
    margin: 10px 0px;
}

.btn-concluded, .btn-register, .btn-loan-book, .btn-info-book {
    background-color: #001f45;
    color: #fff;
    border: none;
    padding: 7px;
    margin: 0px 10px;
    cursor: pointer;
}

.btn-concluded:hover, .btn-register:hover {
    background-color: #0087b1; 
    color: #fff;
}

/* -------------------- container-homePage -------------------- */
.section-books {
    margin-bottom: 20px;
}

.type-books {
    display: grid;
    /*justify-content: center;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
     grid-template-columns: 2fr 2fr 2fr 2fr;
}

.title-type-books {
    display: flex;
    justify-content: start;
    font-family: 'Crimson Text', serif;
    font-size: 25px;
    padding: 10px;
    /* border: 1px solid #000; */
}

.books {
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.type-books .books {
    border: 1px solid #000;
}

.img-book {
    height: 200px;
}

.title-book, .author-book, .description-book{
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Crimson Text', serif;
}

.btn-loan-book:hover, .btn-info-book:hover {
    background-color: #0087b1; 
}

#status {
    margin: 10px 0px;
    padding: 10px;
}

.btn {
    display: flex;
}

/* -------------------- footer -------------------- */

.footer {
    display: grid;
    background-color: #001f45;
    margin-top: 20px;
}

.title-footer h1{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    color: #fff;
}

.address-footer {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}

.address-footer p {
    text-align: center;
    padding: 20px;
    color: #fff;
}

/* -------------------- Modal -------------------- */
.modal-screen {
    display: grid;
    justify-content: center;
    align-items: center;
}

.modal-book {
    background-color: #fff;
    margin: 10px;
    border: 1px solid #000;
    max-width: 50vw;
}

.modal-book h3 {
    text-align: center;
    padding: 5px 0px;
    color: #fff;
    font-size: 30px;
    background-color: #001f45;
    border: 1px solid #000;
}


/* ---------------------------------------- Admin ---------------------------------------- */
.campos #typeUser, .campo #typeAdmin, .campos #yes, .campos #no {
    margin: 15px 0px;
}

.devolution label {
    margin-right: 20px;
}

/* -------------------- Modal -------------------- */

.date-book {
    padding: 5px;
}

.date-book input {
    margin-left: 10px;
    padding-left: 10px;
}