* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

.nav {
    background-color: #66f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    /*border: 1px solid #000;*/
}

nav ul, nav ul li {
    margin-right: 30px;
}

.logo {
    padding: 15px;
    display: flex;
    width: 50%;
    float: left;

}

.logo a {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.logo img {
    width: 50px;
    margin-right: 20px;
}

.items, .items-mobile {
    width: 50%;
    float: right;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.items-mobile {
    display: none;
}

a {
    text-decoration: none;
    color: #fff;
}

nav a {
    color: #ddd;
}

nav a:hover {
    color: #fff;
}

.nav button {
    margin: 0px 15px;
    border: none;
    cursor: pointer;
}

.menu {
    display: none;
}

.container {
    display: grid;
    padding-top: 45px;
    /*border: 1px solid #000;*/
}

.initial-content {
    display: grid;
    background-color: #66f;
}

.initial-content-text {
    grid-column-start: 1;
    grid-column-end: 6;
    align-self: center;
    /*border: 1px solid #000;*/
}

.initial-content-btn {
    display: flex;
    justify-content: start;
    padding: 0px 75px;
}

.discover, .signup {
    padding: 15px;
    margin: 10px 20px 10px 0px;
    border: 1px solid #fff;
    border-radius: 20px;
    font-size: 18px;
}

.discover, .signup:hover, .next:hover, .prev:hover {
    color: #66f;
    background-color: #fff;
}

.signup, .discover:hover, .next, .prev {
    background-color: #66f;
    color: #fff;
}

.initial-content-text h1 {
    align-content: center;
    justify-content: space-evenly;
    font-size: 52px;
    color: #fff;
    padding: 0px 75px;
}

.initial-content-text p {
    color: #fff;
    padding: 0px 75px;
    font-size: 23px;
    text-align: center;
}


.initial-content-img {
    justify-content: end;
    grid-column-start: 6;
    grid-column-end: 12;
    /*border: 1px solid #000; */
}

.img-fundo {
    display: none;
    padding-top: 100px;
    padding-bottom: 10px;
}

.img-fundo .img {
    display: block;
    height: 400px;
    width: 650px;
}

.btn-slides {
    display: flex;
    justify-content: center;
}

.next, .prev {
    margin: 0px 5px 10px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
}

.sponsors-area {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
    padding: 0px 15px;
    /*border: 1px solid #000; */
}


.description-area {
    display: grid;
    justify-content: center;
    margin: 30px 100px;
    /*border: 1px solid #000; */
}

.description-title h4 {
    text-align: center;
    color: #66f;
}

.description-text {
    margin: 5px 100px 50px;
    font-size: 42px;
    text-align: center;
}

.marketing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 50px;
    /*border: 1px solid #000; */
}

.list-builder, .campaign-tracker, .analytics-tool {
    display: grid;
}

.marketing-img, .marketing-title, .marketing-description {
    display: flex;
    justify-content: center;
}

.img-marketing-description {
    max-width: 200px;
    height: 200px;
}

.marketing-title {
    font-weight: bold;
    color: #2f363b;
    margin-bottom: 15px;
}

.marketing-description {
    color: #6b747b;
    text-align: center;
    margin: 0px 40px;
}

.content-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    background-color: #66f;
}

.about-cedo, .links, .contact {
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 75px 30px;
}

.footer-title {
    padding: 0px 25px 0px;
    color: #e2e1e8;
    height: 35px;
}

.footer-description {
    font-size: 15px;
    line-height: 25px;
    padding: 0px 25px;
    color: #e2e1e8;
}

.copyright {
    background-color: #66f;
    text-align: center;
    color: #e2e1e8;
    padding-bottom: 30px;
    font-size: 15px;
}

@media only screen and (max-width: 1200px) {


    .img-fundo .img{
        max-height: 400px;
        width: 450px;
    }

    .initial-content-text p {
        color: #fff;
        padding: 0px 75px;
        font-size: 23px;
        text-align: start;
    }

    .greenapp {
        display: none;
    }

    .description-text {
        margin: 5px 70px 50px;
        font-size: 32px;
        text-align: center;
    }

}

@media only screen and (max-width: 800px) {
    
    .nav ul, .nav ul li {
        margin-right: 10px;
    }

    .initial-content-text {
        grid-column-end: 12;
        text-align: center;
        padding-top: 100px;
        /*border: 1px solid #000;*/
    }

    .initial-content-img {
        grid-column-start: 1;
        padding: 0px 75px;
        /*border: 1px solid #000; */
    }
    
    .img-fundo {
        padding-top: 60px;
        max-height: 350px;
    }

    .img-fundo .img {
        width: 100%;
    }

    .btn-slides {
        padding-top: 50px;
    }
    
    .sponsors-area {
        padding: 0px 0px;
    }

    .primester, .upstart {
        display: none;
    }

    .description-title h4 {
        font-size: 28px;
    }

    .description-text {
        margin: 5px 70px 50px;
        text-align: center;
    }

    .initial-content-text p {
        text-align: center;
    }

    .initial-content-btn {
        justify-content: center;
    }

    .marketing {
        flex-direction: column;
        display: flex;
    }

    .content-footer {
        display: block;
        /* grid-template-columns: 1fr 1fr 1fr;
        background-color: #66f; */
    }

    .about-cedo, .links, .contact {
        flex-direction: column;
        display: flex;
        justify-content: center;
        padding: 40px 30px;
    }

    .copyright {
        padding-bottom: 20px;
    }

}

@media only screen and (max-width: 400px){

    .nav {
        padding-top: 20px;
        /* border: 1px solid #000; */
    }

    img .menu {
        padding: 0px;
    }

    .items {
        display: none;
    }

    #nav.active .items-mobile {
        display: block;
    }

    .items-mobile {
        display: none;
        position: absolute;
        width: 100%;
        top: 45px;
        right: 0px;
        color: #000;
        background-color: #66f;
        z-index: 1000;
    }


    /* .items-mobile {
        width: 20%;
        display: none;
        margin-top: 40px;
    }

    .items-mobile a {
        display: block;
    }

    .items-mobile li {
        margin-bottom: 25px;
    }

    .show {
        display: block;
    } */

    .items-mobile li {
        padding: 15px;
    }

    .btn-slides {
        border: none;
        cursor: pointer;
    }

    .menu {
        position: fixed;
        display: block;
        right: 10px;
        top: 0px;
        background-color: #66f;
    }

    .logo img {
        position: fixed;
        left: 10px;
        top: 10px;
        width: 30px;
    }

    .initial-content-texth1, .initial-content-text p, .initial-content-btn, .initial-content-img {
        padding: 0px 30px;
    }

    .amplifier, .keyrunner {
        display: none;
    }

    .description-area {
        margin: 20px
    }

    .description-text p {
       display: inline;
    }

    .marketing-description {
        font-size: 20px;
    }

    .copyright {
        padding: 10px 0px;
    }
}
